.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  padding-top: 200px;
  width: 100%;
  min-height: 300px;
  background-color: #232323;
  align-items: center;
}

.header h1 {
  font-size: 70px;
  text-transform: uppercase;
}
.header p {
    text-align: center;
  width: 100%;
  color: white;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 2px;
}

.content {
  width: 60%;
}
.subheading {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 40px;
  color: black;
  letter-spacing: 2px;
}
.content p {
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 2px;
}

.card__container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}

.card {
  width: 30rem;
  height: 20rem;
  background-color: white;
  border-radius: 20px;
  border-left: 4px solid #45a29e;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  margin: 10px;

}

.card h4 {
  font-size: 35px;
  margin: 15px 0;
  color: black;
  width: 100%;
  letter-spacing: 4px;
  border-bottom: 2px solid #45a29e;
  text-align: center;
}

.card p {
  color: black;
  padding: 0 20px;
  font-size: 20px;
}

.img__cards__container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}

.img__card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  margin: 10px;
}
.img__card__header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.img__card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 200px;
}

.img__card__body h4 {
  font-size: 35px;
  color: black;
}
.img__card__body p {
  font-size: 19px;
  margin-top: 20px;
}

@media all and (max-width: 1200px) {
  .content {
    width: 90%;
  }
}