.footer {
  width: 100%;
  min-height: 70vh;
  background-color: #232323;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container div {
  width: 15rem;
  min-height: 12rem;
  text-align: center;
  align-items: center;
}
.container div h5 {
  color: white;
  font-size: large;
}

.container div a {
  display: block;
  margin: 10px 0;
  color: #bfbfbf;
}

.lastline {
    color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}
.container div a:hover {
  color: white;
}
